.Navbar {
    margin: 0;
    /*background-image: linear-gradient(#001E3C, #00AEFF);*/
    background-color: #001E3C;
    width: 100%;
    text-align: left;
    /*padding-left: 40px;*/
    height: 60px;
    font-size: 24px;
    font-family: 'Homenaje';
    color: #FFF9C7;
    position: relative;
    text-decoration: none;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.NavLeft {
    position: absolute;
    left: 60px;    
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    outline: none;
    padding: 14px 16px;
    margin: 0;
    border: none;
    background: none;
    color: #FFF9C7;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 15px 20px;
}

.dropdown-content {
    display: none;
    z-index: 1;
}

.dropdown-content button {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: #001E3C;
    color: #FFF9C7;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    width: 115px;

}

.dropdown-content button:hover {    
    background-color: #935AFE;    
}

.dropdown:hover .dropdown-content {
    display: block;
}

.NavRight {    
    position: absolute;
    right: 40px;     
}

.NavRight p {    
    display: inline;
}

.Navbar_text {
    border: none;
    background: none;
    color: #FFF9C7;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    
    display: inline-block;
    padding: 15px 20px;
    float: left;
}

#quickMaffsLogo:after, .Navbar_link:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

#quickMaffsLogo:hover:after, .Navbar_link:hover:after { 
    width: 100%; 
    left: 0; 
}

.Footer {
    width: 100%;
    clear: both;
    position: relative;
    height: 50px;
    margin-top: -50px;
    background-color: #001E3C;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Footer p {
    text-align: center;
    color: #FFF9C7;
}

#musicPlayerID, #musicID {
    display: none;
    float: left;
} 

#musicID {
    padding: 14px 16px;
}
/*
#testNavID {
    background: -webkit-linear-gradient(right, #2EFF00, #00AEFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation-name: textAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes textAnimation {
    0% {background: -webkit-linear-gradient(right, #2EFF00, #00AEFF)}
    50% {background: -webkit-linear-gradient(right, #2EFF00, #00AEFF)}
    100% {background: -webkit-linear-gradient(right, #2EFF00, #00AEFF)}
}
*/
/*#homeLink, #chpLink, #dashLink, #hscLink, #storeLink, #multiplayerLink, #classLink {*/
.NavLeft .Navbar_link {
    font-weight: bold;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #00AEFF, #FFF9C7);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
}
#chpLink {
    animation: textAnimation 4s infinite;
}
#dashLink {
    animation: textAnimation 4s 0.5s infinite;
}
#storeLink {
    animation: textAnimation 4s 1s infinite;
}
#multiplayerLink {
    animation: textAnimation 4s 1.5s infinite;
}
#classLink {
    animation: textAnimation 4s 2s infinite;
}
@keyframes textAnimation {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

#quickMaffsLogo {
    font-size: 30px;
    padding-right: 2em;
}