.battleWorkspace {
    width: 100%;
}

#battleUserID {
    border-radius: 5px;
    height: 50px;
    font-size: 18px; 
    padding-left: 20px;
    width: 300px;
}

#beginBattleBtnID, #anotherBattleBtnID {
    width: 20%;
    height: 50px;
    background-color: #00B6FF;
    /*border: none;*/
    color: white;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
}

#beginBattleBtnID:hover {
    background-color: #006D99;
}

.foundOpponent {
    border: solid #727272 1px;
    background-color: #DEDEDE;
    padding: 5px;
    width: 300px;
    position: relative;
    max-width: 35%;
}

.findOpponent {
    border: solid #727272 1px;
    padding: 5px;
    position: relative;
    overflow: hidden;
    width: 300px;
    max-width: 35%;
    text-decoration: none;
  }
  
  /**
   * The "shine" element
   */
  
   .findOpponent:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 1) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
    animation: shine 5s infinite;

  }
  
  /* Hover state - trigger effect */
  
  @keyframes shine {
    to {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
  }}

.welcome {
    position: relative;
}

.scoresList {
    display: inline-block;
}

.scoresList .player {
    /*display: inline-block;*/ /* horizontal */
    display: block;
    border: solid black 1px;
    position: relative;
    transition: all 2s ease 0s;
    top: 0; /* start out at position 0 */
    width: 130px;
    height: 60px;
    margin: 0;
    background-color: white;
}

.scoresList #userPlr {
    /*display: inline-block;*/ /* horizontal */
    background-color: yellow;
}

.scoresList .player .scoresListUsername{
    font-size: 18px;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 10px;
    left: 10px;
}

.scoresList .player .scoresListScore {
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
}

.questionSpace {
    position: absolute;
    top: 60px;
    left: 150px;
}

#showResultsBtnID {
    border-radius: 5px;
    height: 51px;
    
    margin: 4px 2px;
    font-family: 'Orienta', 'Arial', sans-serif;
    min-width: 23%;
    height: 50px;
    font-size: 18px;       
}

#showResultsBtnID:hover {
    background-color: #001E3C;
    color: white;
}


/* waiting room animation */
.waitingRoom {
    position: relative;
    display: inline-block;
}

.map {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 60%;
 }
 .img-map {
   width: 100%;
   height: 100%;  
 }
 .dots {
   position: absolute;
   top: 0; right: 0; bottom: 0; left: 0;
 }
 .map-dot {
   position: absolute;
   width: 9px; height: 9px;
   border-radius: 50%;
   background-color: orange;
   border: 1px solid white;
   text-decoration: none;
 }
 .map-dot .text {
   display: none;
 }
 .map-dot:hover .text {
   display: block;
   position:absolute;
   margin-left: 40px;
   margin-top: -30px;
   background-color: black;
   opacity: .7;
   color: white;
   padding: 1.5rem;
   width: 160px;
 }
 .map-dot:hover .text:before {
   content: '';
   border-bottom: 12px solid transparent;
   border-right: 14px solid black;
   border-top: 12px solid transparent;
   display: block;
   margin-left: -14px;
   margin-top: 22px;
   position: absolute;
   top: 0;
   left: 0;
 }
 .title {
   display: block;
     color: orange;
     text-transform: uppercase;
     margin-bottom: 1rem;
 }
 
 .map-dot::before, .map-dot::after {
   content: "";
   position: absolute;
   top: -2rem; right: -2rem; bottom: -2rem;     left: -2rem;
   border: 1px solid red;
   border-radius: inherit;
   opacity: 1;
   transform: scale(0);
   animation: circles 3s infinite;
 }
 
 .map-dot::after {
   animation-delay: .3s;
 }
 
 @media(min-width: 768px) {
   
   @keyframes circles {
     to {
       opacity: 0;
       transform: scale(1);
     }
   }
 }


.royalePlayers table {
    border-collapse: collapse;
}

.royalePlayers td {
  border: solid 1px;
  text-align: center;
  width: 70px;
  height: 40px;
}

.royalePlayers #playerSpace  {
  background-color: yellow;
}
