@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&family=Galada&family=Homenaje&family=Orienta&family=Roboto+Slab&display=swap');
body {
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Frank Ruhl Libre', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  /*font-family: 'Frank Ruhl Libre', 'Roboto Slab', 'Galada', 'Homenaje', 'Orienta', 'Arial', sans-serif;*/
  font-family: 'Orienta', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  /*background: linear-gradient(to bottom, #aaffa9, #11ffbd);*/
  background: linear-gradient(to bottom, #C2E1FF, #83C1FD);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
